[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mixedsubjectsirt"]
	path = mixedsubjectsirt
	url = https://github.com/klintkanopka/mixedsubjectsirt
